/* General Styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: blueviolet; */
}

body {
    /* background-color: olivedrab;  */
    font-family: 'Lato', sans-serif;
}

.unnecessary {
    display: none;
}

/* Header styles */

header {
    /* background-color: aquamarine; */
    padding: 5px;
    margin: auto;
    max-width: 90%;
}

.brand {
    /* background-color: green; */
    display: flex;
    justify-content: center;
    font-family: 'Marcellus', serif;
    text-transform: uppercase;
    font-size: 23px;
    margin-top: 10px;
}
 
header img {
    height: 40px;
    width: 40px;
    margin: 10px;
}

header h1 {
    margin: 10px;
}

/* Search by name styles */

aside.search-by-name.container {
    display: flex;
    align-items: center;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    margin-right: 810px;
    margin-top: 37px;
}

.search-container input {
    /* background-color: #AF4401; */
    width: 150px;
    border-radius: 5px;
    border: #8A988C solid .5px;
    box-shadow: 1px 1px 5px gray;
    font-size: small;
    font-weight: bold;
    padding: 3px 5px;
}

/* Categories menu styles */

.category-menu {
    /* background-color: blue; */
    padding: 5px;
    width: 610px;
    font-family: 'Marcellus', serif;
    position: relative;
    margin: auto;
    margin-top: -55px;
    left: 27px;
}

.category-nav {
    /* background-color: palevioletred; */
    display: inline-flex;
    padding: 5px;
    width: 600px;
}

.item-aside {
    /* background-color: antiquewhite; */
    width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
     
.item-aside input[type=image] {
    /* background-color: black; */
    width: 50px;
    height: 50px;
}

/* Order by drop button styles */

.order-by {
    /* background-color: #AF4401; */
    display: flex;
    justify-content: center;
    margin-left: 760px;
    margin-top: -50px;
}

.order-by label {
    background-color: #C4CBC5;
    border-radius: 5px;
    border: #8A988C solid 1px;
    box-shadow: 1px 1px 5px gray;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 15px;
    width: 100px;
    height: 20px;
}

.order-by #item-order {
    margin: 0 -90px;
    width: 100px;
}

 select {
    width: 80px;
    height: 20px;
    border: #8A988C solid 1px;
    text-transform: uppercase;
    font-size: small;
    font-weight: bold;
}

select#item-order {
    opacity: 0;
    margin: 5px 0 0 -140px;
}

/* Main styles */

main {
    /* background-color: plum; */
    padding: 10px;
    width: 90%;
    display: flex;
    margin: auto;
    margin-bottom: 100px;
}

#root {
    /* background-color: #AF4401; */
    width: 90%;
    display: flex;
    margin: auto;
    justify-content: center;
    padding: 10px;  
}

ul {
    /* background-color: gray; */
    list-style: none;
    width: 90%;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

/* Card styles */

.card-container {
    background-color: #EBD0BF;
    padding: 5px;
    margin: 30px 40px;
    width: 276px;
    height: 481px;
    border-radius: 10px;
    box-shadow: 2px 2px 5px gray;
}
 
li.card-container.ornamental {
    background-color: #C4CBC5;
}

li.card-container.medicinal {
    background-color: #D3DBC6;
}

li.card-container.desert {
    background-color: #F3F2D3;
}

li.card-container.trees {
    background-color: #F9EDD5;
}

li.card-container.aromatic {
    background-color: #EBD0BF;
}

.hide {
    display: none;
}

.card-container {
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor:default;
    transition: all 400ms ease;
  }

  .card-container:hover{
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.4);
    transform: translate(-5%);
  }
   
  .back-card{
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.2);
    cursor:default;
    transition: all 400ms ease;
  } 

/* Front card styles */

.front-card {
    /* background-color: #EBD0BF; */
    padding: 10px;
    height: 458px;
    margin: auto;
    text-align: center;
}

.front-card h2 {
    /* background-color: aqua; */
    font-family: 'Marcellus', serif;
    color: #AF4401;
    padding: 10px;
}

.amounts {
    width: 80px;
}

.front-card .top-card {
    /* background-color: black; */
    display: flex;
    margin: 5px 0 10px 1px;
}

.front-card .top-card dl {
    /* background-color: aqua; */
    text-align: center;
    margin-left: 25px;
    height: 234px;
}

.front-card .top-card dt {
    /* background-color: #AF4401; */
    font-size: small;
    margin: 10px 0 5px 0;
    font-weight: bold;
}

.front-card .top-card .amounts dd {
    padding: 5px;
    /* background-color: blue; */
    border-radius: 5px;
    border: #8A988C .5px solid;
    box-shadow: 1px 1px 5px grey;
    height: 40px;
}

.front-card .top-card .amounts img {
    /* background-color: white; */
    width: 20px;
    height: 20px;
    margin: 4px 0;
}

.front-card .top-card .amounts img.inactive {
    opacity: .3;
}

.front-card .bottom-card {
    display: flex;
    text-align: center;
}
.front-card p {
    /* background-color: aliceblue; */
    padding: 5px;
    margin: 10px 0;
    font-size: 15px;
    height: 90px;
    text-align: left;
}

.details-button {
    /* background-color: black; */
    justify-content: center;
    background-color: #D7A180;
    width: 137px;
    height: 32px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    color: white;
    text-align: center;
    border-radius: 10px;
    border: none;
    box-shadow: 2px 2px 5px grey;
}

/* Back card styles */

 #back-card {
    /* background-color: white; */
    padding: 5px 5px;
    text-align: right;
    height: 471px;
}

#back-card h2 {
    /* background-color: aquamarine; */
    font-size: 26px;
    color: #AF4401;
    font-family: 'Marcellus', serif;
    margin-right: 5px;
}

#back-card .top-card {
    /* background-color: #D7A180; */
    height: 136px;
    display: flex;
}

#back-card dt.scientific-name {
    /* background-color: aquamarine; */
    font-size: 16px;
    color: #AF4401; 
    margin: 0 0 9px -6px;
    width: 167px;
    font-family: 'Marcellus', serif;
}

#back-card .top-card img {
    /* background-color: #8A988C; */
    width: 85px;
    height: 156px;
    margin: -20px 0 0 5px;
}
 
#back-card dt {
    /* background-color: #AF4401; */
    width: 160px;
    font-size: 14px;
    font-weight: bold;
    margin: 6px 10px 0 0;
} 

#back-card dd {
    /* background-color: #FFFFFF; */
    font-size: 14px;
    width: 160px;
}

#back-card #description {
    /* background-color: aqua; */
    text-align: left;
    margin: 10px 0 0 5px;
    height: 235px;
}

#back-card #icons {
    /* background-color: #AF4401; */
    height: 35px;
    width: 250px;
    display: flex;
    margin: 10px 0 0 5px;
    justify-content: center;
}

.modal-description-button {
    margin-right: 150px;
}

/* Modals */

.statistics-modal, .description-modal {
    margin: auto;
    background-color: #fefefe;
    border: 3px solid #E5B655;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    justify-content: center;
    padding: 10px; 
}

.statistics-modal h3:first-letter {
    text-transform: uppercase;
}

.statistics-modal h3 {
    font-family: 'Marcellus SC', serif;
    color: #4F6F1D;
    font-size: 30px;
    text-align: center;
    font-weight: lighter;
    margin: 10px 0 25px 0;
}

.statistics {
    display: flex;
    /* background-color: #AF4401; */
    margin: 28px 0 00 0;
}


div.statistics-totals h5 {
    /* background-color: #E5B655; */
    font-family: 'Marcellus SC', serif;
    font-size: 25px;
    text-align: center;
    margin: 0 0 20px 80px;
    text-shadow: .5px .5px .5px gray;
}

div.statistics .legend {
    /* background-color: #555; */
    margin-top: 5px;
    display: flex;
}

div.statistics .square {
    height: 20px;
    width: 30px;
    margin: 0 10px 25px 3px;
    border-radius: 5px;
}

div.statistics .square.water {
    background-color: #D7A180;
}

div.statistics .square.light {
    background-color: #F2DBAA;
}

div.statistics .square.care {
    background-color: #E7E4A7;
}

h5.water {
    color: #D7A180;
}

h5.light {
    color: #E5B655;
}

h5.care {
    color: #D0C950;
}

.statistics-modal h4 {
    /* background-color: #4F6F1D; */
    font-family: 'Marcellus SC', serif;
    font-size: 21px;
    text-align: center;
    font-weight: lighter;
    color: #4F6F1D;
    margin: 15px 55px 0 0;
    
}

 img.close-button, img.close-button-stats {
    width: 30px;
    height: 30px;
    margin: -28px 0 25px 442px;
}
 
.description-modal {
    border: 3px solid #D0C950;
}

.description-modal h3 {
    font-family: 'Marcellus', serif;
    margin: 10px 0 20px 0;
    color: #AF4401;
    font-size: 23px;
    text-align: center;
}

.description-modal p {
    /* background-color: #AF4401; */
    height: 214px;
}

/* Footer styles */

footer {
    bottom:0px;
    position: fixed;
    height: 100px;
    width:100%;
    background-color: #D7A180;
    color:#FFFFFF;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
}

footer h3 {
    font-family: 'Marcellus', serif;
    font-size: 20px;
    margin: 14px 0 7px 0;
    /* margin-bottom: 8px; */
}

@media (max-width: 600px) {

    /* Header styles */

    header {
        background-color: #fcfdfc;
        height: 150px;
        border-radius: 10px;
        max-width: 100%;
        box-shadow: 1px 1px 5px lightgrey;
    }

    .brand {
        font-size: 10px;
        margin-top: 40px;
    }
    
    header img {
        height: 20px;
        width: 20px;
    }

    /* Search by name styles */

    aside.search-by-name.container {
        width: 150px;
        margin-top: -40px;
        margin-left: 30px;
        font-size: smaller;
    }

    .search-container input {
        font-size: smaller;
        height: 18px;
    }

    /* Order by drop button styles */

    .order-by {
        margin: auto;
        width: 70px;
        margin-top: -16px;
        margin-left: 260px;
        font-size: smaller;
    }

    .order-by label {
        font-size: smaller;
        width: 70px;
        height: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    select {
        font-size: smaller;
    }

    /* Modals */

    .statistics-modal, .description-modal {
        width: 400px;
        height: 400px;
    }

    .statistics-modal h3 {
        font-size: 25px;
    }

    .statistics {
        display: flex;
        margin: 28px 0 0 0;
    }

    div.statistics-totals h5 {
        font-size: 20px;
        width: 150px;
        margin-left: 20px;
    }

    .legend p {
        font-size: 13px;
    }

     div.statistics .legend {
        margin-top: 5px;
        display: flex;
        height: 40px;
    }
    
    div.statistics .square {
        height: 15px;
        width: 24px;
    }

    .statistics-modal h4 {
        font-size: 18px;
        text-align: center;
        width: 100%;
    }

    img.close-button, img.close-button-stats {
        width: 25px;
        height: 25px;
        margin: 80px 0 0 310px;
    }
    
    .description-modal {
        padding: 15px;
    }

    .description-modal h3 {
        margin: 5px 0 18px 0;
    }

    /* Categories menu styles */

    .category-menu {
        bottom:0px;
        position: fixed;
        height: 110px;
        width:400px;
        background-color: #f9faf9;
        font-size: 10px;
        padding: 5px;
        border-radius: 10px;
        box-shadow: 5px 5px 13px gray;;
        left: 0;

    }
 
    .category-nav {
        margin-top: 6px;
        max-width: 100%;
    }
        
    .item-aside input[type=image] {
        width: 30px;
        height: 30px;
    }

    /* Footer styles */

    footer {
        height: 30px;
        font-size: 9px;
        display: flex;
        justify-content: center;
    }

    footer h3 {
        font-size: 10px;
        margin: 0 5px 0 5px;
    }

    footer p {
        margin: 0 5px 0 5px;
    }
}