/* Estilo para HEAD header */
HEAD header {
  background-color: white;
  padding: 2% 4%;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Marcellus', serif;
}

#root {
  max-width: 100%;
  margin: 2% auto;
  display: flex;

  padding-bottom: 50px;
}

body {
  font-family: 'Marcellus', serif;
  margin: 0;
  background-color: #f7f5f3;
}

h1 {
  text-align: center;
  font-family: 'Marcellus', serif;
  color: #332D40;
}

.form-container {
  max-width: 100%;
  height: 10%;
  margin: auto;
  background-color: #f1e3c9;
  margin-bottom: 1%;
  padding: 1%;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  display: flex;
}

label {
  margin-bottom: 2%;
  font-weight: bold;
  display: flex;
  margin-left: 3%;
  margin-top: 2%;
}

select {
  width: 13%;
  height: 0.5%;
  padding: 1%;
  margin-bottom: 2%;
  margin-top: 1%;
  border: 1% #ccc;
  border-radius: 10%;
  font-family: 'Marcellus', serif;
  display: flex
}

#button-clear,
#button-facts {
  font-family: 'Marcellus', serif;
  margin-left: 1.5%;
  margin-right: 1.5%;
  font-weight: bold;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  background-color: #332D40;
  color: #f8edda;
  display: flex;
  text-align: center;
  width: auto;
  margin: auto;
}

.card img {
  width: 70%;
  height: auto;
  border-radius: 10px 10px 10px 10px;
  display: flex;
  margin: 0 auto;
  margin-bottom: 1.5%;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

ul {
  list-style: none;
  padding: 2%;
  gap: 1%;
  text-align: justify;
  font-size: small;
  margin-bottom: 18%;
  display: flex;
  flex-wrap: wrap;
  padding:1%;
}

.card {
  width: calc(21% - 1%);
  /* Ajusta el ancho de cada tarjeta según el número de tarjetas en una fila */
  margin: 2%;
  /* Espaciado entre las tarjetas */
  text-align: justify;
  margin:2%;
  background-color: #f1e3c9;
  font-family: 'Marcellus', serif;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  border-radius: 3% ;
  
}

dd[itemprop="name"] {
  color: #000000;
  font-weight: bold;
  text-align: center;
  font-size: medium;
  align-items: center;
}

dd[itemprop="shortDescription"] {
  text-align: justify;
  margin-left: 1%;
}

dd[itemprop="fechaNacimiento"],
dd[itemprop="fechaMuerte"],
dd[itemprop="LugarNacimiento"],
dd[itemprop="género"] {
  text-align: justify;
  display: flex;
}

dt[itemprop="fechaNacimiento"],
dt[itemprop="fechaMuerte"],
dt[itemprop="LugarNacimiento"],
dt[itemprop="género"] {
  text-align: justify;
  margin: 0;
  display: flex;
}

dt {
  font-weight: bold;
  text-align: justify;
}

img {
  width: 100%;
  height: auto;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  background-color: #f1cd885e;
  margin-bottom: 4%;
  }

dd {
  margin-inline-start: 3px;
}

footer {
  background-color: #f1e3c9;
  font-family: 'Marcellus', serif;
  color: black;
  text-align: center;
  padding: 3%;
  margin-top: 1%;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

.modal-content {
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;

}

#statsDialog {
  display: flexbox;
  background-color: #f1e3c9;
  padding: 1px;
  border-radius: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}