HEAD header {
  background-color: white;
  padding: 10px 20px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: inherit;
  text-align: center;
  }

.card img {
  width: 190px;
  height: 160px;
  border-radius: 10px 10px 0 0;
  display: block;
  margin: 0 auto;
  margin-bottom:3px;
  }

ul {
  list-style: none;
  padding: 8 px;
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(4, 1fr);
  text-align:justify;
}

dd[itemprop="name"] {
  color: #000000;
  font-size: 22px;
  font-weight: bold;
  text-align: center;
}

dd[itemprop="shortDescription"] {
  text-align: justify;
  }

dd[itemprop="fechaNacimiento"],
dd[itemprop="fechaMuerte"],
dd[itemprop="LugarNacimiento"],
dd[itemprop="género"] {
  text-align: justify;
  display:flexbox;
}

dt[itemprop="fechaNacimiento"],
dt[itemprop="fechaMuerte"],
dt[itemprop="LugarNacimiento"],
dt[itemprop="género"] {
  text-align: justify;
  margin: 0;
 }

dt {
  font-weight: bold;
  text-align: justify;
}

footer {
  background-color: #f2d290;
  font-family: sans-serif;
  color: black;
  text-align: center;
  padding: 10px;
  font-family: inherit;
  }

====#root {
  max-width: 800px;
  }

body {
  margin: 0;
  background-color: #f4c7735e;

  }

  li {
    border: 1px solid #ede2e2; 
    border-radius: 10px; 
    margin: 10px;
    padding: 10px;
    list-style: none;
    background-color: #edcd925e;
    font-family:Georgia;
  }

img {
  width: 100%;
  height: auto;
  box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
  background-color: #f1c4705e;
 }

h1 {
  text-align: center;
  font-family: Georgia;
}

h2 {
  margin-bottom: 1px;
}

p {
  margin: 2px;
}

dd{
  margin-inline-start: 3px;
}